@charset "UTF-8";

body {
    background-color: #745EBB;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    border-top: 2px solid black;
    margin-top: 30px;
}

/* Column - Stretch */
.conteiner1 {
    display: flex;
    flex-flow: column nowrap;

    align-items: stretch;
    height: 350px;

    background-color: lightcoral;
}

.item1 {
    text-align: center;
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
}

/* Column - Flex Start */
.conteiner1-1 {
    display: flex;
    flex-flow: column nowrap;
    
    align-items: flex-start;
    height: 350px;

    background-color: lightcoral;
}

.item1-1 {
    text-align: center;
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
}

/* Column - Flex End */
.conteiner1-2 {
    display: flex;
    flex-flow: column nowrap;

    align-items: flex-end;
    height: 350px;

    background-color: lightcoral;
}

.item1-2 {
    text-align: center;
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
}

/* Column - Center */
.conteiner1-3 {
    display: flex;
    flex-flow: column nowrap;
    
    align-items: center;
    height: 350px;

    background-color: lightcoral;
}

.item1-3 {
    text-align: center;
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
}

/* Row - Strech */
.conteiner2 {
    display: flex;
    flex-flow: row nowrap;

    height: 200px;
    align-items: stretch;

    background-color: lightcoral;
}

.item2 {
    text-align: center;
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
}

/* Row - Flex Start */
.conteiner2-1 {
    display: flex;
    flex-flow: row nowrap;

    height: 200px;
    align-items: flex-start;

    background-color: lightcoral;
}

.item2-1 {
    text-align: center;
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
}

/* Row - Flex End */
.conteiner2-2 {
    display: flex;
    flex-flow: row nowrap;

    height: 200px;
    align-items: flex-end;

    background-color: lightcoral;
}

.item2-2 {
    text-align: center;
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
}

/* Row - Center */
.conteiner2-3 {
    display: flex;
    flex-flow: row nowrap;

    height: 200px;
    align-items: center;

    background-color: lightcoral;
}

.item2-3 {
    text-align: center;
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
}